
<div id="<%= dom_id recipe %>" class="col">
  <div class="card shadow-sm">
    <%= link_to recipe, class: 'text-end' do %>
      <img src="https://picsum.photos/id/292/300/200" class="card-img-top position-relative" alt="">
    <% end %>

    <div class="card-body">
      <%= link_to recipe, class: 'text-dark text-decoration-none' do %>
        <h5 class="card-title"><%= recipe.title %></h5>
      <% end %>
      <p class="card-text">
        <%= recipe.description %>
      </p>
      <div class="d-flex justify-content-between align-items-center">

        <small class="text-muted">
          <%= recipe.serving %> - <%= recipe.cooking_time %>
        </small>
      </div>
    </div>
  </div>
</div>
