<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= form.text_field :title, class: 'form-control', placeholder: 'Pizza' %>
    <%= form.label :title %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_area :description, class: 'form-control', placeholder: 'Pizza' %>
    <%= form.label :description %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :serving, class: 'form-control', placeholder: '2 people' %>
    <%= form.label :serving %>
  </div>

  <div class="form-floating mb-5">
    <%= form.text_field :cooking_time, class: 'form-control', placeholder: '45 minutes' %>
    <%= form.label :cooking_time %>
  </div>

  <div data-controller='nested-form'>
    <div class="form-group mb-3">
      <h3 class="fs-4">
        Ingredients
        <button data-action="click->nested-form#add" class="btn btn-sm btn-dark float-end">
          <i class="bi bi-plus"></i> New Ingredient
        </button>
      </h3>
    </div>

    <%= form.fields_for :ingredients, recipe.ingredients.build, child_index: 'NEW_RECORD' do |ingredient| %>
      <template data-nested-form-target="template">
        <%= render "ingredient_field", form: ingredient %>
      </template>
    <% end %>

    <%= render "ingredient_fields", form: form, ingredients: recipe.ingredients %>

    <div data-nested-form-target="render"></div>
  </div>

  <div class="form-group mb-3">
    <%= form.submit "Save Recipe", class: 'btn btn-dark' %>
    <%= link_to "Never mind!", recipes_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
