<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :serving, style: "display: block" %>
    <%= form.text_field :serving, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :cooking_time, style: "display: block" %>
    <%= form.text_field :cooking_time, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= form.submit "Save Recipe", class: 'btn btn-dark' %>
  </div>
<% end %>
