<%= content_tag :div, class: "nested-form--item row g-2 mb-2", data: { new_record: form.object.new_record? } do %>
  <div class="col-md-2">
    <div class="form-floating mb-3">
      <%= form.text_field :amount, class: 'form-control', placeholder: '1 spoon' %>
      <%= form.label :amount %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="form-floating mb-3">
      <%= form.text_field :name, class: 'form-control', placeholder: 'Cheese' %>
      <%= form.label :name %>
    </div>
  </div>

  <div class="col-md-1 h-100 text-end align-middle">
    <%= link_to "#", class: 'btn btn-outline-danger p-3', tabindex: '-1', data: { action: "click->nested-form#remove" } do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </div>

  <%= form.hidden_field :_destroy %>
<% end %>
