
<div id="<%= dom_id @recipe %>" class="form">
  <div class="form-group mb-3">
    <div class="row">
      <a href="/" class="col-8 align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <h1>
          <%= @recipe.title %>
        </h1>
      </a>

      <div class="col-4 align-middle text-end">
        <%= link_to edit_recipe_path(@recipe), class: 'btn btn-dark btn-sm' do %>
          <i class="bi bi-journal-plus"></i>
          Edit
        <% end %>

        <%= link_to @recipe, method: :delete, class: 'btn btn-danger btn-sm' do %>
          <i class="bi bi-journal-plus"></i>
          Delete
        <% end %>
      </div>
    </div>

    <p class="mb-3">
      <%= @recipe.description %>
    </p>

    <div class="row mb-3">
      <img src="https://picsum.photos/id/292/800/350" class="card-img-top" alt="">
    </div>

    <p class="mb-3 fs-7">
      <i class="bi bi-person"></i> <%= @recipe.serving %>
      <i class="bi bi-clock"></i> <%= @recipe.cooking_time %>
    </p>

    <div class="row mb-3">
      <h3 class="fs-3">Ingredients</h3>
    </div>

    <div class="row mb-4">
      <% @recipe.ingredients.each do |ingredient| %>
        <p class="mb-2 ps-4">
          <strong><%= ingredient.amount %></strong>  <%= ingredient.name %>
        </p>
      <% end %>
    </div>

  </div>
</div>
