<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= form.submit %>
  </div>
<% end %>
