<!DOCTYPE html>
<html>
  <head>
    <title>Smart Kitchen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="py-3 mb-4 border-bottom bg-light">
      <div class="container d-flex flex-wrap justify-content-center ">
        <%= link_to root_url, class:"d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" do %>
          <i class="bi bi-egg-fried fs-4"></i>
          <span class="fs-4 ms-2"><strong>Smart</strong>Kitchen</span>
        <% end %>

        <ul class="nav nav-pills">
          <li class="nav-item">
            <%= link_to recipes_url, class: 'nav-link text-dark' do %>
              <i class="bi bi-journal-richtext"></i>
              <span class="ms-1">Recipes</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to '#', class: 'nav-link text-dark' do %>
              <i class="bi bi-search"></i>
              <span class="ms-1">Search</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_url, class: 'nav-link text-dark' do %>
              <i class="bi bi-people"></i>
              <span class="ms-1">Users</span>
            <% end %>
          </li>
        </ul>
        <div class="dropdown text-end ms-4">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="<%= @current_user.profile_image_url %>" alt="" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="container-fluid py-5 mt-5 border-top bg-light">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
        <div class="col mb-3">
          <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <i class="bi bi-egg-fried fs-4"></i>
            <span class="fs-4 ms-2"><strong>Smart</strong>Kitchen</span>
          </a>
          <p class="text-muted">&copy; <%= Time.zone.now.year %> </p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
          <h5 class="fs-6"><strong>Smart</strong>Kitchen</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Recipes</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Users</a></li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5 class="fs-6">About</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">GitHub</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Issues</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Documentation</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
